class Config(object):
    APP_ID = "17441778"
    API_HASH = "d221a3858d847abbec41da95840b4a64"
    BOT_TOKEN = "5860521663:AAHVRoQR8Twwa6ISH5MhYEZG8qle2UOzF3w"
    AUTH_USERS = set(int(x) for x in "TELEGRAM_IDS_OF_AUTH_USERS".split(" "))
    IS_PUBLIC_BOT = False # Set this to True if you want to make your bot public
    LOGS_CHANNEL = YOUR_LOG_CHANNEL_ID
    # DON'T CHANGE THESE 2 VARS
    DOWNLOAD_LOCATION = "./NexaBots"
    TG_MAX_SIZE = 2040108421
    # Mega User Account
    MEGA_EMAIL = "amirkhan53855@gmail.com"
    MEGA_PASSWORD = "MAKEMEBALD19245"
